---
import Svg from "@jasikpark/astro-svg-loader";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang).nav;
---

<script>
    import {
        getLangFromUrl,
        useTranslations,
        type translations,
    } from "@/i18n/utils";

    const lang = getLangFromUrl(new URL(window.location.href));
    const t = useTranslations(lang as keyof typeof translations).nav;

    const themeButton = document.getElementById("themeButton") as HTMLElement;
    const lodButton = document.getElementById("lodButton") as HTMLElement;

    const lod = localStorage.getItem("lod") || "high";
    const theme = localStorage.getItem("theme") || "dark";

    const currentLodText = document.getElementById("currentLOD") as HTMLElement;
    currentLodText.textContent = t.lod[lod as keyof typeof t.lod];

    const currentThemeText = document.getElementById(
        "currentTheme"
    ) as HTMLElement;
    currentThemeText.textContent = t.theme[theme as keyof typeof t.theme];

    themeButton.addEventListener("click", () => {
        const theme = localStorage.getItem("theme");

        if (theme === "light") {
            document.documentElement.setAttribute("data-theme", "dark");
            localStorage.setItem("theme", "dark");
            currentThemeText.textContent = t.theme.dark;
        } else {
            document.documentElement.setAttribute("data-theme", "light");
            localStorage.setItem("theme", "light");
            currentThemeText.textContent = t.theme.light;
        }
        themeButton.classList.toggle("dark");
    });

    lodButton.addEventListener("click", () => {
        const lod = localStorage.getItem("lod");
        if (lod === "low") {
            localStorage.setItem("lod", "high");
            document.documentElement.setAttribute("data-lod", "high");
            currentLodText.textContent = t.lod.high;
        } else {
            localStorage.setItem("lod", "low");
            document.documentElement.setAttribute("data-lod", "low");
            currentLodText.textContent = t.lod.low;
        }
    });
</script>

<div class="holder">
    <slot />
    <div id="themeButton" class="iconHolder theme">
        <Svg
            class={"interactiveIcon"}
            id={"darkIcon"}
            width={28}
            height={28}
            fill={"var(--primary-01)"}
            src={import("@/public/icons/dark_mode.svg?raw")}
            aria-label="Dark theme toggle button"
        />
        <Svg
            class={"interactiveIcon"}
            id={"lightIcon"}
            width={28}
            height={28}
            fill={"var(--primary-01)"}
            src={import("@/public/icons/light_mode.svg?raw")}
            aria-label="Theme toggle button"
        />
        <p style="text-transform: uppercase;" id="currentTheme">
            {t.theme.dark}
        </p>
    </div>
    <div class="iconHolder github">
        <a
            title="github"
            href="https://github.com/theduardomaciel"
            target="_blank"
        >
            <Svg
                class={"icon"}
                src={import("@/public/icons/enterprises/github.svg?raw")}
                aria-label="Github icon"
            />
        </a>
        <p class="github">GitHub</p>
    </div>
    <div id="lodButton" class="iconHolder lod">
        <Svg
            class={"interactiveIcon detail"}
            width={28}
            height={28}
            fill={"var(--primary-01)"}
            src={import("@/public/icons/level_of_detail.svg?raw")}
            aria-label="Level of detail toggle button"
        />
        <p style="text-transform: uppercase;" id="currentLOD">{t.lod.high}</p>
    </div>
</div>

<style>
    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .holder {
        display: flex;
        gap: 5rem;
    }

    .holder .iconHolder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        cursor: pointer;
    }

    .holder .iconHolder p {
        font-size: 0.85rem;
        font-family: "Inter Variable";

        text-transform: uppercase;
    }

    .holder .iconHolder p {
        display: flex;
    }

    html[data-theme="light"] #darkIcon,
    html[data-theme="dark"] #lightIcon {
        display: flex;
    }

    html[data-theme="light"] #lightIcon,
    html[data-theme="dark"] #darkIcon {
        display: none;
    }

    .holder .iconHolder .interactiveIcon {
        font-size: 1rem;
        width: 2.8rem;
        height: 2.8rem;
    }

    .holder .iconHolder.github {
        display: flex;
    }

    @media (min-width: 1024px) {
        .holder .iconHolder {
            justify-content: center;
            align-items: flex-end;
            gap: 0px;
            flex-direction: row;
        }

        .holder .iconHolder p,
        .holder .iconHolder.lod {
            display: none;
        }

        .holder .iconHolder .interactiveIcon {
            width: 2.2rem;
            height: 2.2rem;
        }

        .holder .iconHolder.github {
            display: none;
        }
    }
</style>
