---
import Svg from "@jasikpark/astro-svg-loader";
---

<script>
    const themeButton = document.getElementById("themeButton") as HTMLElement;
    const lodButton = document.getElementById("lodButton") as HTMLElement;

    const lod = localStorage.getItem("lod") || "high";
    const theme = localStorage.getItem("theme") || "dark";

    const currentLodText = document.getElementById("currentLOD") as HTMLElement;
    currentLodText.textContent = lod;

    const currentThemeText = document.getElementById(
        "currentTheme"
    ) as HTMLElement;
    currentThemeText.textContent = theme;

    themeButton.addEventListener("click", () => {
        const theme = localStorage.getItem("theme");

        if (theme === "light") {
            document.documentElement.setAttribute("data-theme", "dark");
            localStorage.setItem("theme", "dark");
            currentThemeText.textContent = "Dark";
        } else {
            document.documentElement.setAttribute("data-theme", "light");
            localStorage.setItem("theme", "light");
            currentThemeText.textContent = "Light";
        }
        themeButton.classList.toggle("dark");
    });

    lodButton.addEventListener("click", () => {
        const lod = localStorage.getItem("lod");
        if (lod === "low") {
            localStorage.setItem("lod", "high");
            document.documentElement.setAttribute("data-lod", "high");
            currentLodText.textContent = "High";
        } else {
            localStorage.setItem("lod", "low");
            document.documentElement.setAttribute("data-lod", "low");
            currentLodText.textContent = "Low";
        }
    });
</script>

<div class="holder">
    <div id="themeButton" class="iconHolder theme">
        <Svg
            class={"interactiveIcon"}
            id={"darkIcon"}
            width={28}
            height={28}
            fill={"var(--primary-01)"}
            src={import("@assets/icons/dark_mode.svg?raw")}
            aria-label="Dark theme toggle button"
        />
        <Svg
            class={"interactiveIcon"}
            id={"lightIcon"}
            width={28}
            height={28}
            fill={"var(--primary-01)"}
            src={import("@assets/icons/light_mode.svg?raw")}
            aria-label="Light theme toggle button"
        />
        <p id="currentTheme">DARK</p>
    </div>
    <div class="iconHolder">
        <a
            title="github"
            href="https://github.com/theduardomaciel"
            target="_blank"
        >
            <Svg
                class={"icon"}
                src={import("@assets/icons/enterprises/github.svg?raw")}
                aria-label="Github icon"
            />
        </a>
        <!-- <p>GitHub</p> -->
    </div>
    <div id="lodButton" class="iconHolder lod">
        <Svg
            class={"interactiveIcon detail"}
            width={28}
            height={28}
            fill={"var(--primary-01)"}
            src={import("@assets/icons/level_of_detail.svg?raw")}
            aria-label="Light theme toggle button"
        />
        <p id="currentLOD">HIGH</p>
    </div>
</div>

<style>
    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .holder {
        display: flex;
        gap: 5rem;
    }

    .holder .iconHolder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        cursor: pointer;
    }

    .holder .iconHolder p {
        font-size: 0.85rem;
        font-family: "Inter Variable";

        text-transform: uppercase;
    }

    .holder .iconHolder.theme p {
        display: flex;
    }

    html[data-theme="light"] #darkIcon,
    html[data-theme="dark"] #lightIcon {
        display: flex;
    }

    html[data-theme="light"] #lightIcon,
    html[data-theme="dark"] #darkIcon {
        display: none;
    }

    .holder .iconHolder.lod {
        display: flex;
    }

    .holder .iconHolder .interactiveIcon {
        font-size: 1rem;
        width: 2.8rem;
        height: 2.8rem;
    }

    @media (min-width: 1024px) {
        .holder .iconHolder {
            align-items: flex-end;
            gap: 0px;
            flex-direction: row;
        }

        .holder .iconHolder.theme p {
            display: none;
        }

        .holder .iconHolder.lod {
            display: none;
        }

        .holder .iconHolder .interactiveIcon {
            width: 2.2rem;
            height: 2.2rem;
        }
    }
</style>
