---
export interface Props {
    section: string;
}

const { section } = Astro.props;
const { pathname } = Astro.url;

const isActive = pathname.includes(section.toLowerCase());

import { getLangFromUrl, useTranslations } from 'src/i18n/utils';

const url_lang = getLangFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
---

<script>
    function closeMenu() {
        const header = document.getElementById("header") as HTMLElement;
        header.classList.remove("menuExpanded");
    }
    const buttons = document.querySelectorAll(".sectionButton");
    buttons.forEach((button) => {
        button.addEventListener("click", closeMenu);
    });
</script>

<li>
    <a
        href={pathname === "home" ? "/#" : `/${url_lang}/#${section.toLowerCase()}`}
        class={`sectionButton ${isActive ? "active" : ""}`}
        title={section}
    >
        {t(`nav.${section.toLowerCase() as keyof typeof t}`)}
    </a>
</li>

<style>
    .sectionButton {
        opacity: 0.65;
        transition: var(--transition);
    }

    .sectionButton.active,
    .sectionButton:hover {
        opacity: 1;
    }
</style>
