---
export interface Props {
    section: {
        name: string;
        id: string;
        href: string;
    };
}

const { section } = Astro.props;
const { pathname } = Astro.url;

const isActive = pathname.includes(section.id);
---

<script>
    function closeMenu() {
        const header = document.getElementById("header") as HTMLElement;
        header.classList.remove("menuExpanded");
    }
    const buttons = document.querySelectorAll(".sectionButton");
    buttons.forEach((button) => {
        button.addEventListener("click", closeMenu);
    });
</script>

<li>
    <a
        href={pathname === "/" ? "#" : section.href}
        class={`sectionButton ${isActive ? "active" : ""}`}
        title={section.id}
    >
        {section.name}
    </a>
</li>

<style>
    .sectionButton {
        opacity: 0.65;
        transition: var(--transition);
    }

    .sectionButton.active,
    .sectionButton:hover {
        opacity: 1;
    }
</style>
