---
import Svg from "@jasikpark/astro-svg-loader";
---

<script>
    function toggleHandler() {
        const header = document.getElementById("header") as HTMLDivElement;
        if (header) {
            header.classList.toggle("menuExpanded");
        }
    }

    const button = document.querySelector(".toggleButton");
    if (button) {
        button.addEventListener("click", toggleHandler);
    }
</script>

<button type="button" class="toggleButton" name={"Menu button"}>
    <Svg
        class={"close"}
        src={import("@assets/icons/close.svg?raw")}
        aria-label="Menu close button"
    />
    <Svg
        class={"open"}
        src={import("@assets/icons/menu.svg?raw")}
        aria-label="Menu open button"
    />
</button>

<style>
    .toggleButton {
        position: relative;
        cursor: pointer;

        width: 50px;
        height: 50px;
    }

    .close,
    .open {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform-origin: center;
    }

    .close path {
        fill: var(--primary-01);
    }

    .open path {
        stroke: var(--primary-01);
    }

    :global(.header.menuExpanded) .close,
    .open {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    :global(.header.menuExpanded) .open,
    .close {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }

    @media (min-width: 1024px) {
        .toggleButton {
            display: none;
        }
    }
</style>
