.blog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5rem;
    width: 100vw;
    margin-bottom: 15rem;
}

.blog header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    gap: 2.5rem;
    flex-wrap: wrap;
}

.blog header h1 {
    font-family: 'Roboto SlabVariable';
    font-style: normal;
    font-weight: 900;
    font-size: 10rem;

    text-align: left;
    color: var(--primary-01);
}

.blog nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5rem;

    position: relative;
    width: 100%;
}

.blog header .listButton {
    padding: 1.15rem 2.5rem;
    font-size: 1.8rem;
    width: 100%;
    white-space: nowrap;
}

.blog nav .tagsHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    overflow: scroll;
    overflow-y: hidden;
    max-width: 100vw;
    height: 5rem;

    order: 2;
}

.tagsHolder::-webkit-scrollbar {
    display: none;
}

.blog nav .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 5rem;
    padding: 1.25rem 5rem;
    height: 100%;
    overflow: visible;

    background: var(--secondary-01);
    border: 1px solid var(--primary-01);
    border-radius: 0.5rem;
}

.blog nav .tag {
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.65;
    cursor: pointer;
    transition: var(--transition);
    position: relative;

    font-family: 'Roboto SerifVariable';
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--primary-01);
}

.blog nav .tag.active {
    opacity: 1;
}

.selectionCircle {
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: var(--transition);

    width: 11rem;
    height: 11rem;

    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(217, 217, 217, 0.5) 0%, rgba(217, 217, 217, 0) 100%);
    filter: blur(32.5px);
}

.divisor {
    width: 1px;
    height: 2rem;
    background: var(--primary-01);
}

.blog .posts {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
}

.empty {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;

    padding-bottom: 5rem;
    padding-top: 7.5rem;
    margin-inline: auto;

    width: 80%;
    height: 100%;
}

.empty h2 {
    font-family: 'Roboto SlabVariable';
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;

    text-align: center;
    color: var(--primary-01);
}

.empty h5 {
    font-family: 'Roboto SlabVariable';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;

    text-align: center;
    color: var(--primary-01);
}

@media (max-width: 768px) {
    .blog nav .tagsHolder {
        width: 100%
    }
}

@media (min-width: 1024px) {
    .blog {
        gap: 3.5rem;
    }

    .blog nav {
        flex-direction: row;
        padding-inline: 12.5rem;
    }

    .blog header .listButton {
        width: fit-content;
    }

    .blog .tagsHolder {
        padding: 0;
    }

    .blog nav .tags::-webkit-scrollbar {
        display: none;
    }

    .blog .posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
    }
}