---
import "@styles/contact.css";

import BaseLayout from "@layouts/BaseLayout.astro";

import SocialMedia from "@components/SocialMedia.astro";
---

<BaseLayout>
    <main class="wrapper contactMessageContent">
        <h1>Yay! Everything went right! ✅</h1>
        <div
            style={{ display: "flex", flexDirection: "column", gap: "2.5rem" }}
        >
            <p>
                Thank you very much for your message! I will answer you as soon
                as I can.
            </p>
            <h4 style={{ textAlign: "center" }}>But for now...</h4>
            <p>
                {
                    `You can check out my social media to find out a little more about my work (sorry for the lack of posts!)`
                }
                <br />
                By the way, in case you need an urgent answer
                <span style={{ fontSize: "1rem" }}>
                    {
                        `(or are anxious and don't want to wait for my
                answer!)`
                    }
                </span>, you can send me a direct message through one of these
                networks below:
            </p>
            <SocialMedia style={{ justifyContent: "center" }} />
            <h5>
                In advance, thank you very much for your choice and attention!
                ❤️
                <br />
                <br />
            </h5>
        </div>
        <a class="button back" href="/" style="padding: 1rem 2.5rem;"
            >Return to home</a
        >
    </main>
</BaseLayout>
