---
import BaseLayout from "@layouts/BaseLayout.astro";

const seo = {
    title: "Uh Oh! Page Not Found",
    description: "Uh Oh! We couldn't find the page you were looking for",
};
---

<BaseLayout seo={seo}>
    <div class="wrapper content">
        <h1>404</h1>
        <p>
            Oops! <br />
            This page does not exist, or its functionality has not yet been implemented.
        </p>
        <a class="button" style="padding: 1rem 2.5rem;" href="/"
            >Return to home</a
        >
    </div>
</BaseLayout>

<style>
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;

        width: 100vw;
        height: 100vh;
    }

    .content h1 {
        font-size: 8.4rem;
        font-family: "Roboto SlabVariable";
    }

    .content p {
        font-size: 2.4rem;
        font-family: "Roboto SerifVariable";
        text-align: center;

        width: 50%;
    }
</style>
