---
import "../styles/home.css";

import { Image } from "@astrojs/image/components";

import Svg from "@jasikpark/astro-svg-loader";
import AstronautDarkMode from "@assets/images/astronauta_dark.png";

import Planet from "@components/Planet.astro";
import SocialMedia from "@components/SocialMedia.astro";
import Starfield from "@components/Starfield.astro";
import Blobs from "@components/Blobs.astro";

const theme = "dark";
const lod = "high";
---

<section id="home" class="home">
    <header>
        <div
            style={{ display: "flex", flexDirection: "column", gap: "0.25rem" }}
        >
            <h2 style={{ textTransform: "capitalize" }}>HI, I'M</h2>
            <Svg
                class={"title"}
                src={import("@assets/visual/title.svg?raw")}
                aria-label="Eduardo Maciel"
                width={375}
            />
        </div>
        <p>Ongoing software engineer</p>
        <!-- <a href="/#contact">
            <Button>Contact</Button>
        </a> -->
        <SocialMedia />
    </header>
    <div class="blobContainer holder1">
        <Planet />
        <div
            class="blob blob1"
            style={{ WebkitClipPath: `url(#blob1)`, clipPath: `url(#blob1)` }}
        >
            <Image
                src={AstronautDarkMode}
                style={{ filter: theme === "dark" ? "none" : "invert()" }}
                width={239}
                height={239}
                alt="Astronauta"
            />
            <Svg
                class={"rocket"}
                src={import("@assets/visual/rocket.svg?raw")}
                aria-label="Drawing of a rocket"
            />
            <Starfield />
            <div class="blobBackground"></div>
        </div>
    </div>
    <div class="blobContainer holder2">
        <div
            class="blob blob2"
            style={{ WebkitClipPath: `url(#blob2)`, clipPath: `url(#blob2)` }}
        >
            <Svg
                class={"stars"}
                src={import("@assets/visual/stars.svg?raw")}
                aria-label="Drawing of a group of stars"
            />
            <Image
                src={AstronautDarkMode}
                style={{ filter: theme === "dark" ? "none" : "invert()" }}
                width={239}
                height={239}
                alt="Astronauta"
            />
            <Svg
                class={"rocket2"}
                src={import("@assets/visual/rocket.svg?raw")}
                width={75}
                aria-label="Drawing of a rocket"
            />
            <Starfield />
            <div class="blobBackground"></div>
        </div>
    </div>
    <Blobs />
</section>
