---
import { createClient } from "@vercel/edge-config";

import Layout from "@layouts/BaseLayout.astro";

import Header from "@components/Header/Header.astro";
import Footer from "@components/Footer.astro";

import Home from "src/sections/Home.astro";
import Projects from "src/sections/Projects";
import Tech from "src/sections/Tech.astro";
import Contact from "src/sections/Contact.astro";

const config = createClient(import.meta.env.EDGE_CONFIG);
const response = await config.getAll(["projects", "tech"]);
---

<Layout>
    <Header />
    <main>
        <Home />
        <Projects projects={response?.projects} client:load />
        <Tech technologies={response?.tech} />
        <Contact />
    </main>
    <Footer />
</Layout>
