---
import Header from "@components/Header/Header.astro";
import Layout from "@layouts/BaseLayout.astro";
import Home from "./Home.astro";
---

<Layout>
    <main>
        <Header />
        <Home />
    </main>
</Layout>
