---
import { createClient } from "@vercel/edge-config";

import Layout from "@layouts/BaseLayout.astro";

import Header from "@components/Header/Header.astro";
import Footer from "@components/Footer.astro";

import Home from "src/sections/Home.astro";
import Projects from "src/sections/Projects";
import Tech from "src/sections/Tech.astro";
import Contact from "src/sections/Contact.astro";

const config = createClient(import.meta.env.EDGE_CONFIG);
const response = await config.getAll(["projects", "tech"]);
---

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let lazyVideos = [].slice.call(document.querySelectorAll("video.lazy"));

        if ("IntersectionObserver" in window) {
            let lazyVideoObserver = new IntersectionObserver(function (
                entries,
                observer
            ) {
                entries.forEach(function (video: any) {
                    if (video.isIntersecting) {
                        for (let source in video.target.children) {
                            let videoSource = video.target.children[
                                source
                            ] as HTMLSourceElement;
                            if (
                                typeof videoSource.tagName === "string" &&
                                videoSource.tagName === "SOURCE"
                            ) {
                                videoSource.src = videoSource.dataset
                                    .src as string;
                            }
                        }

                        video.target.load();
                        video.target.classList.remove("lazy");
                        lazyVideoObserver.unobserve(video.target);
                    }
                });
            });

            lazyVideos.forEach(function (lazyVideo) {
                lazyVideoObserver.observe(lazyVideo);
            });
        }
    });
</script>

<Layout>
    <Header />
    <main>
        <Home />
        <Projects projects={response?.projects} client:load />
        <Tech technologies={response?.tech} />
        <Contact />
    </main>
    <Footer />
</Layout>
