---
import "@styles/contact.css";
import BaseLayout from "@layouts/BaseLayout.astro";

import SocialMedia from "@components/SocialMedia.astro";

import { useTranslations } from "src/i18n/utils";
import type { translations } from "src/i18n/utils";

const { lang } = Astro.params;

const t = useTranslations(lang as keyof typeof translations).contact;
---

<BaseLayout>
    <main class="wrapper contactMessageContent">
        <h1>{t.error.subtitle}</h1>
        <div
            style={{ display: "flex", flexDirection: "column", gap: "2.5rem" }}
        >
            <p>
                {t.error.subtitle}
                <br />
            </p>
            <SocialMedia
                excludeWhatsApp
                excludeEmail
                style={{ justifyContent: "center" }}
            />
            <h5>
                {t.error.thanks}
                <br />
                <br />
            </h5>
        </div>
        <a class="button back" href={"/"} style="padding: 1rem 2.5rem;"
            >{t.return_button}</a
        >
    </main>
</BaseLayout>
