---
import SocialMedia from "./SocialMedia.astro";

const today = new Date();

import quotes from "@utils/quotes.json";
const randomQuote = quotes[Math.floor(Math.random() * quotes.length)];
const [quote, author] = randomQuote.split("-");
---

<footer class={"footer"}>
    <div class={"wrapper"}>
        <div class="row1">
            <a href="/#">
                <h3 class="title">{` <>edu.</> `}</h3>
            </a>
            <div class="contactInfo">
                <SocialMedia />
            </div>
        </div>
        <div class="row2">
            <p>©{today.getFullYear()} | Made with ❤️ by Eduardo Maciel.</p>
            <!-- <div
                style={{
                    height: "2rem",
                    width: "0.05rem",
                    backgroundColor: "var(--primary-01)",
                }}
            > -->
        </div>
        <p class="quote">
            &quot;{quote}&quot; <br />
            - {author}
        </p>
    </div>
</footer>

<style>
    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        background-color: var(--secondary-02);
        padding-block: 4rem;

        text-align: left;
        font-weight: 400;
        color: var(--white);
    }

    .footer .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

        align-items: center;
        gap: 2.5rem;
        justify-content: space-between;
    }

    .footer .wrapper .row1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        width: 100%;
    }

    .footer .wrapper .row2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        gap: 1rem;
        width: 100%;
    }

    .footer .wrapper .contactInfo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        align-items: center;
        /* margin-top: 5rem; */
        justify-content: center;

        gap: 3.5rem;
    }

    .title {
        font-family: "Roboto SerifVariable", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 3.3rem;

        display: flex;
        align-items: center;
    }

    .footer p {
        font-family: "InterVariable";
        font-size: 1.4rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.5;
        white-space: pre-line;

        color: var(--primary-01);
    }

    .footer .quote {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: 100%;
        line-height: 1.35rem;
        align-self: center;
    }

    @media (max-width: 475px) {
        .footer .wrapper .row1 {
            justify-content: center;
            gap: 2rem;
        }
    }
</style>
