---
import Svg from "@jasikpark/astro-svg-loader";
import SocialMedia from "./SocialMedia.astro";

const today = new Date();
---

<script>
    import type NowPlaying from "src/lib/types/nowplaying";

    const spotifyHolder = document.getElementById("spotify") as HTMLElement;
    const songTitle = document.getElementById("songTitle") as HTMLAnchorElement;
    const songArtist = document.getElementById(
        "songArtist"
    ) as HTMLParagraphElement;

    async function getNowPlayingAndUpdate() {
        const response = await fetch("/api/spotify/nowplaying");
        const data = (await response.json()) as NowPlaying;
        console.log(data);
        if (data.isPlaying) {
            spotifyHolder.classList.add("listening");
            songTitle.innerText = data.title;
            songTitle.href = data.songUrl;
            songArtist.innerText = `- ${data.artist}`;
        } else {
            spotifyHolder.classList.remove("listening");
            songTitle.innerText = "Not Playing";
        }
    }

    getNowPlayingAndUpdate();
</script>

<footer class={"footer"}>
    <div class={"wrapper"}>
        <div class="row1">
            <div id="spotify" class="spotify">
                <p class="info">i'm currently listening to</p>
                <div class="currentPlaying">
                    <Svg
                        src={import(
                            "@assets/icons/enterprises/spotify.svg?raw"
                        )}
                        aria-label={"Spotify Logo"}
                    />
                    <a target="_blank" id="songTitle" class="songTitle"
                        >Fetching data...</a
                    >
                    <p id="songArtist" class="songArtist">- Spotify</p>
                </div>
            </div>
            <div class="contactInfo">
                <SocialMedia />
            </div>
        </div>
        <div class="row2">
            <p>©{today.getFullYear()} | Made with ❤️ by Eduardo Maciel.</p>
        </div>
    </div>
</footer>

<style>
    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        align-self: flex-end;
        justify-self: flex-end;

        background-color: var(--secondary-02);
        padding-block: 4rem;

        text-align: left;
        font-weight: 400;
        color: var(--white);
    }

    .footer .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

        align-items: center;
        gap: 5rem;
        justify-content: space-between;
    }

    .footer .wrapper .row1 {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;

        width: 100%;
    }

    .footer .wrapper .row2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        gap: 1rem;
        width: 100%;
    }

    .footer .wrapper .contactInfo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        align-items: center;
        /* margin-top: 5rem; */
        justify-content: center;

        gap: 3.5rem;
    }

    .title {
        font-family: "Roboto Serif Variable", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 3.3rem;

        display: flex;
        align-items: center;
    }

    .footer p {
        font-family: "Inter Variable";
        font-size: 1.4rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.5;
        white-space: pre-line;

        color: var(--primary-01);
    }

    .footer .quote {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: 100%;
        line-height: 1.35rem;
        align-self: center;
    }

    .spotify {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        gap: 1rem;
    }

    .spotify:not(.listening) .info {
        display: none;
    }

    .spotify p {
        font-family: "Roboto Serif";
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;

        color: var(--primary-01);
    }

    .spotify .currentPlaying {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        font-size: 1.8rem;
        color: var(--primary-01);
    }

    .spotify .currentPlaying .songTitle {
        font-family: "Roboto Serif";
        font-style: normal;
        font-weight: 700;
    }

    .spotify.listening .songTitle:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .spotify .currentPlaying .spotifyTitle {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
    }

    @media (max-width: 475px) {
        .footer .wrapper .row1 {
            justify-content: center;
            gap: 2rem;
        }
    }
</style>
