---
import Svg from "@jasikpark/astro-svg-loader";

type Props = {
    excludeInstagram?: boolean;
    excludeTwitter?: boolean;
    excludeEmail?: boolean;
    excludeWhatsApp?: boolean;
    excludeGithub?: boolean;
    excludeLinkedin?: boolean;
    classes?: string;
    style?: string;
};

const {
    excludeInstagram,
    excludeTwitter,
    excludeEmail,
    excludeWhatsApp,
    excludeGithub,
    excludeLinkedin,
    classes,
    style,
} = Astro.props;
---

<div class={`social ${classes}`} style={style}>
    {
        !excludeWhatsApp && (
            <a
                title="WhatsApp"
                target="_blank"
                href="https://api.whatsapp.com/send?phone=5582988299223&text=Want%20to%20develop%20an%20awesome%20project?%20Contact%20me%20directly%20so%20we%20can%20talk%20about%20it%20:)"
            >
                <Svg
                    class={"icon"}
                    src={import("@/public/icons/enterprises/whatsapp.svg?raw")}
                    aria-label="WhatsApp icon"
                />
            </a>
        )
    }
    {
        !excludeInstagram && (
            <a
                title="Instagram"
                href="https://instagram.com/theduardomaciel"
                target="_blank"
            >
                <Svg
                    class={"icon outlined"}
                    src={import("@/public/icons/enterprises/instagram.svg?raw")}
                    aria-label="Instagram icon"
                />
            </a>
        )
    }
    {
        !excludeTwitter && (
            <a
                title="Twitter/X"
                href="https://twitter.com/theduardomaciel"
                target="_blank"
            >
                <Svg
                    class={"icon twitter"}
                    src={import("@/public/icons/enterprises/twitter.svg?raw")}
                    aria-label="Twitter icon"
                />
            </a>
        )
    }
    {
        !excludeEmail && (
            <a
                title="E-mail"
                href="mailto:eduardomacielbr@gmail.com"
                target="_blank"
            >
                <Svg
                    class={"icon"}
                    src={import("@/public/icons/mail.svg?raw")}
                    aria-label="E-mail icon"
                />
            </a>
        )
    }
    {
        !excludeLinkedin && (
            <a
                title="Linkedin"
                href="https://github.com/theduardomaciel"
                target="_blank"
            >
                <Svg
                    class={"icon"}
                    src={import("@/public/icons/enterprises/linkedin.svg?raw")}
                    aria-label="E-mail icon"
                />
            </a>
        )
    }
    {
        !excludeGithub && (
            <a
                title="Github"
                href="https://github.com/theduardomaciel"
                target="_blank"
            >
                <Svg
                    class={"icon"}
                    src={import("@/public/icons/enterprises/github.svg?raw")}
                    aria-label="E-mail icon"
                />
            </a>
        )
    }
</div>

<style>
    .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;

        align-items: center;
    }

    .social a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon {
        cursor: pointer;
    }

    .icon path {
        fill: var(--primary-01);
    }

    .outlined path {
        stroke: var(--primary-01);
    }

    .twitter path {
        fill: var(--primary-01);
        stroke: var(--primary-01);
    }
</style>
