---
import Svg from "@jasikpark/astro-svg-loader";

type Props = {
    excludeInstagram?: boolean;
    excludeTwitter?: boolean;
    excludeEmail?: boolean;
    excludeWhatsApp?: boolean;
};

const {
    excludeInstagram,
    excludeTwitter,
    excludeEmail,
    excludeWhatsApp,
    classes,
    style,
} = Astro.props;
---

<div class={`social ${classes}`} style={style}>
    {
        !excludeEmail && (
            <a
                title="email"
                href="mailto:eduardomacielbr@gmail.com"
                target="_blank"
            >
                <Svg
                    class={"icon"}
                    src={import("@assets/icons/mail.svg?raw")}
                    aria-label="E-mail icon"
                />
            </a>
        )
    }
    {
        !excludeWhatsApp && (
            <a
                title="whatsApp"
                target="_blank"
                href="https://api.whatsapp.com/send?phone=5582988299223&text=Want%20to%20develop%20an%20awesome%20project?%20Contact%20me%20directly%20so%20we%20can%20talk%20about%20it%20:)"
            >
                <Svg
                    class={"icon"}
                    src={import("@assets/icons/enterprises/whatsapp.svg?raw")}
                    aria-label="WhatsApp icon"
                />
            </a>
        )
    }
    {
        !excludeInstagram && (
            <a
                title="instagram"
                href="https://instagram.com/theduardomaciel"
                target="_blank"
            >
                <Svg
                    class={"icon outlined"}
                    src={import("@assets/icons/enterprises/instagram.svg?raw")}
                    aria-label="Instagram icon"
                />
            </a>
        )
    }
    {
        !excludeTwitter && (
            <a
                title="twitter"
                href="https://twitter.com/theduardomaciel"
                target="_blank"
            >
                <Svg
                    class={"icon twitter"}
                    src={import("@assets/icons/enterprises/twitter.svg?raw")}
                    aria-label="Twitter icon"
                />
            </a>
        )
    }
</div>

<style>
    .social {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;

        align-items: center;
    }

    .icon {
        cursor: pointer;
    }

    .icon path {
        fill: var(--primary-01);
    }

    .outlined path {
        stroke: var(--primary-01);
    }

    .twitter path {
        fill: var(--primary-01);
        stroke: var(--primary-01);
    }
</style>
