---
import Svg from "@jasikpark/astro-svg-loader";
import SocialMedia from "../SocialMedia.astro";

const today = new Date();

import { useTranslations } from "src/i18n/utils";
import type { ui } from "src/i18n/ui";
import LanguagePicker from "./subcomponents/LanguagePicker";

const { lang } = Astro.params;

const t = useTranslations(lang as keyof typeof ui);

---

<script>
    import type NowPlaying from "src/lib/types/nowplaying";
    import { getLangFromUrl, useTranslations } from "src/i18n/utils";
    import type { ui } from "src/i18n/ui";

    const lang = getLangFromUrl(new URL(window.location.href));
    const t = useTranslations(lang as keyof typeof ui);

    const spotifyHolder = document.getElementById("spotify") as HTMLElement;
    const songTitle = document.getElementById("songTitle") as HTMLAnchorElement;
    const songArtist = document.getElementById(
        "songArtist"
    ) as HTMLParagraphElement;

    async function getNowPlayingAndUpdate() {
        const response = await fetch("/api/spotify/nowplaying");
        const data = (await response.json()) as NowPlaying;
        console.log(data);
        if (data.isPlaying) {
            spotifyHolder.classList.add("listening");
            songTitle.innerText = data.title;
            songTitle.href = data.songUrl;
            songArtist.innerText = `- ${data.artist}`;
            localStorage.setItem("lastSongPlaying", data.title);
        } else {
            spotifyHolder.classList.remove("listening");
            songTitle.innerText = t("footer.not_listening");
        }
    }

    getNowPlayingAndUpdate();

    const languageSwitchButton = document.getElementById(
        "languageSwitch"
    ) as HTMLElement;

    if (languageSwitchButton) {
        languageSwitchButton.addEventListener("click", () => {
            /* const languageIcon = document.getElementById(
                "languageIcon"
            ) as HTMLElement;
            const languageText = languageSwitchButton.querySelector("p") as HTMLElement;
            if (languageIcon.classList.contains("active")) {
                languageIcon.classList.remove("active");
                languageText.innerText = "Português (Brasil)";
            } else {
                languageIcon.classList.add("active");
                languageText.innerText = "English";
            } */
            window.location.replace(
                window.location.pathname.replace(
                    lang,
                    lang === "pt-BR" ? "en-US" : "pt-BR"
                )
            );
            window.sessionStorage.setItem("scrollDown", "true")
        });

        // Scroll to bottom after language change
        /* document.addEventListener("DOMContentLoaded", function(event) { 
            if (window.sessionStorage.getItem("scrollDown") === "true") {
                window.scrollTo({
                    top: document.body.scrollHeight,
                    behavior: "instant" as any,
                });
                window.sessionStorage.setItem("scrollDown", "false")
            }
        }); */
    }
</script>

<footer class={"footer"}>
    <div class={"wrapper"}>
        <div class="row1">
            <div id="spotify" class="spotify">
                <p class="info">{t("footer.current_listening")}</p>
                <div class="currentPlaying">
                    <div class="songTitleHolder">
                        <Svg
                        src={import(
                            "@assets/icons/enterprises/spotify.svg?raw"
                        )}
                            aria-label={"Spotify Logo"}
                        />
                        <a target="_blank" id="songTitle" class="songTitle"
                            >{t("footer.fetching")}</a
                        >
                    </div>
                    <p id="songArtist" class="songArtist">- Spotify</p>
                </div>
            </div>
            <div class="contactInfo">
                <SocialMedia />
            </div>
        </div>
        <div class="row2">
            <p>©{today.getFullYear()} | {t("footer.love")}</p>
            <!-- <div id="languageSwitch">
                <Svg
                    class={"interactiveIcon"}
                    id={"languageIcon"}
                    width={22}
                    height={22}
                    src={import("@assets/icons/language.svg?raw")}
                    aria-label="Language change button"
                />
                <p>{lang === "pt-BR" ? "Português (Brasil)" : "English"}</p>
            </div> -->
            <LanguagePicker lang={lang} client:load />
        </div>
    </div>
</footer>

<style>
    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        align-self: flex-end;
        justify-self: flex-end;

        background-color: var(--secondary-02);
        padding-block: 4rem;

        text-align: left;
        font-weight: 400;
        color: var(--white);
    }

    .footer .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

        align-items: center;
        gap: 5rem;
        justify-content: space-between;
    }

    .footer .wrapper .row1 {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2.5rem;

        width: 100%;
    }

    .footer .wrapper .row2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        gap: 1rem;
        width: 100%;
    }

    .footer .wrapper .contactInfo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        align-items: center;
        /* margin-top: 5rem; */
        justify-content: center;

        gap: 3.5rem;
    }

    .title {
        font-family: "Roboto Serif Variable", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 3.3rem;

        display: flex;
        align-items: center;
    }

    .footer p {
        font-family: "Inter Variable";
        font-size: 1.4rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.5;
        white-space: pre-line;

        color: var(--primary-01);
    }

    .footer .quote {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: 100%;
        line-height: 1.35rem;
        align-self: center;
    }

    .spotify {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        gap: 1rem;
    }

    .spotify:not(.listening) .info {
        display: none;
    }

    .spotify p {
        font-family: "Roboto Serif Variable";
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        text-align: center;

        color: var(--primary-01);
    }

    .spotify .currentPlaying {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        flex-wrap: wrap;

        font-size: 1.8rem;
        color: var(--primary-01);
    }

    .spotify .currentPlaying .songTitleHolder {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }

    .spotify .currentPlaying .songTitle {
        font-family: "Roboto Serif Variable";
        font-style: normal;
        font-weight: 700;
    }

    .spotify.listening .songTitle:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .spotify .currentPlaying .spotifyTitle {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
    }

    #languageSwitch {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        cursor: pointer;
        border-radius: 0.5rem;
        transition: 150ms;

        padding-inline: 1.25rem;
        padding-block: 0.65rem;

        margin-top: 1rem;
        align-self: center;
    }

    #languageSwitch svg {
        fill: var(--primary-01);
    }

    #languageSwitch:hover {
        background-color: rgb(51 51 51/0.1);
    }

    /* #languageSwitch:hover p {
        color: var(--secondary-01);
    }

    #languageSwitch:hover svg {
        fill: var(--secondary-01);
    } */

    @media (max-width: 475px) {
        .footer .wrapper .row1 {
            justify-content: center;
            gap: 2rem;
        }
    }

    @media (min-width: 768px) {
        #languageSwitch {
            align-self: inherit;
            margin-top: 0px;
        }

        .spotify p {
            text-align: left;
            width: fit-content;
        }

        .footer .wrapper .row2 {
            justify-content: space-between;
        }
    }
</style>
