---
import "@styles/contact.css";

import Starfield from "@components/Starfield.astro";
import ContactInput from "@components/ContactInput";
import Planet from "@components/Planet.astro";
---

<section class={`contact section`} id="contact">
    <div class="blob1Holder">
        <div
            class="blob1Holder"
            style={{
                WebkitClipPath: `url(#contactBlob1)`,
                clipPath: `url(#contactBlob1)`,
                backgroundColor: "var(--primary-01)",
                height: "35rem",
            }}
        >
            <Starfield />
            <div class="infoHolder">
                <p>WANT TO HAVE AN AWESOME PROJECT DONE?</p>
            </div>
        </div>
        <div class={`infoHolder info2`}>
            <p>WANT TO HAVE AN AWESOME PROJECT DONE?</p>
            <ContactInput />
        </div>
    </div>
    <div class="blob2Holder">
        <div
            style={{
                WebkitClipPath: `url(#contactBlob2)`,
                clipPath: `url(#contactBlob2)`,
                backgroundColor: "var(--primary-01)",
            }}
        >
            <Starfield />
        </div>
        <Planet style={{ top: "27.5rem", left: "-6.5rem" }} />
    </div>
    <svg
        style={{ overflow: "hidden", position: "absolute", zIndex: -1 }}
        width="200"
        height="347"
        viewBox="0 0 200 347"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <defs>
            <clipPath id="contactBlob1">
                <path
                    d="M104.499 6.20032C146.257 9.99486 173.077 13.8153 212.831 26.6993C244.563 36.9839 285.467 41.4622 321.427 47.4562C339.763 50.5124 359.346 51.4527 377.914 52.0975C400.668 52.8876 425.354 49.0279 447.792 53.2578C500.273 63.1507 553.407 83.7439 595.77 115.399C650.766 156.494 691.147 276.348 695.616 345H-198.75C-171.431 280.637 -169.749 179.506 -138.551 116.431C-126.78 92.6329 -108.353 72.8497 -87.7666 55.8363C-64.2469 36.3982 -32.3153 14.9987 -1.97636 7.36064C31.0317 -0.949368 71.0894 3.16441 104.499 6.20032Z"
                    fill="white"
                    stroke="white"
                    stroke-width="3"
                    stoke-line-cap="round"></path>
            </clipPath>
            <clipPath id="contactBlob2">
                <path
                    d="M406.847 392.504C426.264 386.471 475.145 370.017 515.821 352.305C520.232 350.779 523.776 349.965 526.991 349.227C527.296 349.157 527.597 349.088 527.896 349.019C531.361 348.219 534.532 347.429 537.925 345.789C544.707 342.51 552.151 335.948 565.277 319.688C578.15 303.744 577.591 282.691 571.437 262.682C565.273 242.639 553.395 223.276 543.027 210.274C533.52 198.349 522.713 187.904 512.026 177.576C509.19 174.834 506.363 172.101 503.57 169.351C490.215 156.198 477.591 142.592 468.241 125.568C463.427 116.803 460.114 106.889 457.079 96.7116C456.383 94.3788 455.701 92.0294 455.018 89.6779C452.738 81.8211 450.451 73.9402 447.615 66.5738C436.137 36.7568 408.521 16.1295 378.925 6.68731C343.434 -4.63569 307.846 4.83111 273.813 15.2913C239.271 25.9082 207.391 37.6652 179.018 60.9562C127.599 103.165 120.15 162.229 113.898 224.092C111.279 250.001 98.6604 270.359 82.3109 288.625C74.1318 297.763 65.0409 306.354 55.8209 314.85C54.1693 316.372 52.5132 317.891 50.8574 319.41C43.2857 326.356 35.7232 333.294 28.6578 340.431C16.7524 352.456 7.04149 362.962 3.45784 380.259C-0.469136 399.212 2.00127 421.637 13.0039 438.153C26.207 457.972 49.2464 476.44 68.1436 490.155C87.36 504.102 111.937 513.29 135.539 515.085C183.307 518.72 229.569 504.695 269.899 480.532C301.653 461.508 337.23 439.879 363.356 412.935C367.907 408.241 375.386 404.369 383.546 401.027C388.675 398.927 393.914 397.093 398.761 395.397C401.628 394.394 404.358 393.439 406.847 392.504Z"
                    fill="white"
                    stroke="white"
                    stroke-width="3"
                    stroke-linecap="round"></path>
            </clipPath>
        </defs>
    </svg>
</section>
