---
import "@styles/home.css";

import Svg from "@jasikpark/astro-svg-loader";

import Planet from "@components/Planet.astro";
import SocialMedia from "@components/SocialMedia.astro";
import Starfield from "@components/Starfield.astro";
import Blobs from "@components/Home/Blobs.astro";
import Rocket from "@components/Home/Rocket.astro";

import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { randomPhrase } = Astro.props;
---

<section id="home" class="home">
    <header>
        <div
            style={{ display: "flex", flexDirection: "column", gap: "0.25rem" }}
        >
            <h2 style={{ textTransform: "uppercase" }}>{t.home.title}</h2>
            <Svg
                class={"title"}
                src={import("@assets/visual/title.svg?raw")}
                aria-label="Eduardo Maciel"
                width={375}
            />
        </div>
        <p>{t.home.subtitle}</p>

        <div class="outro">
            <p>({randomPhrase})<!-- {t.home.outro} --></p>
        </div>

        <SocialMedia />
        <div id="mouseScroll" class="mouseScroll">
            <Svg
                src={import("@assets/icons/mouse.svg?raw")}
                aria-label="Mouse indicator for scrolling"
            />
            <Svg
                class={"doubleArrow"}
                src={import("@assets/icons/double_arrow.svg?raw")}
                aria-label="Double arrow down"
            />
        </div>
    </header>
    <div class="blobContainer holder1">
        <Planet classes="homePlanet" />
        <div
            class="blob blob1"
            style={{ WebkitClipPath: `url(#blob1)`, clipPath: `url(#blob1)` }}
        >
            <picture>
                <source
                    type="image/avif"
                    class="astronaut"
                    width={239}
                    height={239}
                    draggable="false"
                    srcset="/visual/astronaut.avif"
                />
                <img
                    class="astronaut"
                    width={239}
                    height={239}
                    draggable="false"
                    src="/visual/astronaut.png"
                    sizes="((max-width: 768px)) 119.5px,
              (min-width: 769px) 239px"
                    alt="Astronauta picture fallback"
                />
            </picture>
            <Rocket classes={"rocket"} />
            <Starfield />
            <div class="blobBackground"></div>
        </div>
    </div>
    <div class="blobContainer holder2">
        <div
            class="blob blob2"
            style={{ WebkitClipPath: `url(#blob2)`, clipPath: `url(#blob2)` }}
        >
            <Svg
                class={"stars"}
                src={import("@assets/visual/stars.svg?raw")}
                aria-label="Drawing of a group of stars"
            />
            <picture>
                <source
                    type="image/avif"
                    class="astronaut"
                    width={239}
                    height={239}
                    draggable="false"
                    srcset="/visual/astronaut.avif"
                />
                <img
                    class="astronaut"
                    width={239}
                    height={239}
                    draggable="false"
                    src="/visual/astronaut.png"
                    alt="Astronauta picture fallback"
                />
            </picture>
            <Rocket classes={"rocket2"} />
            <Starfield />
            <div class="blobBackground"></div>
        </div>
    </div>
    <Blobs />
</section>
