---
import "@styles/global.css";

import "@fontsource-variable/inter";
import "@fontsource/roboto";
import "@fontsource-variable/roboto-slab";
import "@fontsource-variable/roboto-serif";

import BaseHead from "@components/seo/BaseHead.astro";
import type { Props as BaseHeadProps } from "@components/seo/BaseHead.astro";

export interface Props {
    title?: string;
    seo?: BaseHeadProps;
}

export interface Props {
    seo?: BaseHeadProps;
}

const { seo } = Astro.props;

import { getLangFromUrl } from '../i18n/utils';
const url_lang = getLangFromUrl(Astro.url);

---

<!-- <meta http-equiv="refresh" content="0;url=/en/" /> -->

<!DOCTYPE html>
<html lang={url_lang}>
    <head>
        <BaseHead {...seo} />
        <script is:inline>
            // Get the current theme from local storage
            const userPrefersLightMode =
                window.matchMedia &&
                window.matchMedia("(prefers-color-scheme: light)").matches;

            const storageTheme = localStorage.getItem("theme");
            const currentTheme =
                storageTheme || (userPrefersLightMode ? "light" : "dark");

            // Set the body data-theme attribute to match the local storage item
            document.documentElement.setAttribute("data-theme", currentTheme);

            const storageLOD = localStorage.getItem("lod");
            const currentLOD = storageLOD || "high";

            // Set the body data-lod attribute to match the device capacity
            document.documentElement.setAttribute("data-lod", currentLOD);
        </script>
    </head>
    <body>
        <slot />
    </body>
</html>
