---
import BaseHead from "@components/BaseHead.astro";
import i18next from "i18next";

export interface Props {
    title?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <slot />
    </body>
</html>
